{% extends "base.html" %} 
{% load static %}


{% block title %}{{ topic.subject }}{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Collection</a></li>
  <li class="breadcrumb-item"><a href="{% url 'collection_docs' document.collection.pk %}">{{ document.collection.name }}</a></li>
  <li class="breadcrumb-item active">{{ document.subject }}</li>
{% endblock %}

{% block content %}
<script src="{% static "js/displacy.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}"></script>

<script 
    src="https://maps.googleapis.com/maps/api/js?v=quarterly
        &key=AIzaSyCsowXGMuhLcqjebBKvZOCz3CbWDGZO3C8&callback=initMap">
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  var geocoder = new google.maps.Geocoder();
    $(document).ready(function() {
        var latlng = new google.maps.LatLng("47.259659", "11.400375");
        var mapOptions = {
            zoom: 15,
            center: latlng,
            mapTypeControl: false,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map($('.map')[0], mapOptions);
    
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"geoLocation"
        });
        
        {% for ent in doc.ents %}
          console.log("{{ ent.text }}");
          codeAddress("{{ent.text}}");    
        {% endfor %}
    });


    function codeAddress(address) 
    {
      geocoder.geocode( {address:address}, function(results, status) 
      {
        if (status == google.maps.GeocoderStatus.OK) 
        {
          //place a marker at the location
          var marker = new google.maps.Marker(
          {
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
      }
      });
    }
</script>
<div class="map" style="width: auto; height: 400px;"></div>


{% autoescape off %}
{{ html }}
{% endautoescape %}

<script>
  var displacy = new displaCy('{{ processing }}', {
  container: '#displacy',
})

function parse(text) {
  displacy.parse(text)
}
</script>

{% endblock %}
